<div id="post__share">
  <a id="icon-twitter" class="fontello" href="url={{ site.url }}{{ page.url }}&text={{ page.title }}" target="_blank"></a>
  <a id="icon-cc" class="fontello" href="{}" target="_blank"></a>
  <a id="icon-weibo" class="fontello" href="https://weibo.com/7814004496" target="_blank"></a>
    <!-- <div class="share-info">分享一下~</div> -->
</div>
<div id="qrcode" >
	<img src="{{site.url}}/assets/images/yanqibo.jpg" style="margin: 0 auto;display: block;" width="200" height="200" alt="我的微信" display:inline-block>
</div>
<!-- end #post__share -->
